<div class="card text-blank mt-3">
    <div class="card-body">
        <div class="card-title">
        <h2>{{postdata.title}}</h2>
        </div>
        <div class="card-text">
        {{postdata.content.substring(0,20)}}...<a class="card-link" routerLink="/view/{{post.id}}">Read More</a>
        </div>
        <div class="card-footer text-muted">
        Posted on {{postdata.created.toDate() | date: 'MMM dd,yyyy'}}
        <!--Post can only be deleted by owner of this post-->
        <button  class="btn btn-danger card-link btn-sm float-right" *ngIf="user.uid==postdata.owner" (click)="delete()">Delete</button>
        </div>
        <a class="card-footer text-muted" *ngIf="user && user.uid!=postdata.owner || !user" routerLink="/profile/{{postdata.owner}}">View Writer's profile</a>
    </div>
</div>