<app-signup></app-signup>
<!--More inside home component-->
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-6 text-right pt-5">
        <img class="align-middle m-5" height="300px" src="assets/What-Is-Scribe-Image.png">
      </div>
     <div class="col-sm-4">
        <h2 class="mx-5 my-5">What is Scribe?</h2>
        <h6 class="mx-5 my-1">
        Scribe is a thought sharing platform
        where you can share your thoughts and
        craziest ideas with the world.You can
        also interact with other users by commenting
        on their post.
        <br/><br/>
        So why wait,Let's get started!
        </h6>  
     </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-8 offset-sm-2 text-center pt-5 mt-5">
      <h5>Contact Us</h5>
      <div class="row">
          <div class="col-sm-4 offset-sm-2  text-left pt-5 vertical-divider mt-5">
              <i class="fa fa-envelope mt-3"></i>
              subhashish.panda16@gmail.com
              <br/>
              <i class="fa fa-facebook mt-3"></i>
              Sunshiner Subhashish
              <br/>
              <i class="fa fa-phone mt-3"></i>
              8917230657
              <br/>
          </div>
          <div class="col-sm-6  py-5 px-5 my-5 text-left">
            <i class="fa fa-map-marker mt-3"></i>
            Near Hotel Orion,
            <br/>
            <i class="fa fa-map-marker mt-3 invisible"></i>
            National Highway 16,
            <br/>
            <i class="fa fa-map-marker mt-3 invisible"></i>
            Samraipur,Bhadrak,
            <br/>
            <i class="fa fa-map-marker mt-3 invisible"></i>
            Odisha,India -756100
            <br/>    
          </div>
      </div>
    </div>
  </div>
</div>
