<div class="navbar navbar-expand-lg navbar-dark bg-primary">
   <a class="navbar-brand" href="#">
    <img src="assets/Scribe-Logo.png">
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--These are the home links(for logged-out users),myblogs links(if user is logged-in).-->
            <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse" *ngIf="!loggedIn">
            <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse" *ngIf="loggedIn">
            <a class="nav-link" routerLink="/myblogs">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!--Login button available for logged out users-->
            <li class="nav-item right" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse" *ngIf="!loggedIn">
            <button class="btn btn-outline-light px-5" routerLink="/login">Login</button>
            </li>
            <!--MyProfile link available for loggedIn users-->
            <li class="nav-item right" *ngIf="loggedIn">
            <a class="nav-link" [routerLink]="'/profile/'+userId">MyProfile</a>   
            </li>
            <!--Logout link/option available for loggedIn users-->
            <li class="nav-item right" *ngIf="loggedIn">
            <a class="nav-link" routerLink="/" (click)="logout()">Log Out</a>
            </li>        
        </ul>

    </div>
</div>
